.profile {

}

h1 {
  display: block;
  font-weight: 600;
  font-size: 32px;
  line-height: 38.73px;
}

.avatar {
  margin: 10px 53px 10px 0;
  height: 166px;
  width: 166px;
  border-radius: 50%;
}

.userInfo {
  margin: 43px 0;
  display: flex;
  width: 100vw;
}
.fioContainer {
  padding: 14px 0 14px 0;
  gap: 10px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.fio {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #D9D7FF;
  gap: 10px
}

.loginCase {
  display: flex;
  flex-direction: row;
}

