@import 'src/styles/variables';

.css-r47a1p-MuiFormControl-root {
  width: 100% !important;
  margin: 0 !important;
  border-color: $soft-color !important;
}

.custom-form-control {
  .MuiInputLabel-root {
    color: $placeholder-color !important;
  }
  .MuiOutlinedInput-root.Mui-focused {
    border-color: $soft-color;
    .MuiOutlinedInput-notchedOutline {
      color: $main-button !important;
      border-color: $soft-color !important;
    }
  }
}


.adornment-button {
  color: $hover-button !important; /* Изменяем цвет кнопки IconButton */
}

.adornment-icon:hover {
  fill: currentColor !important; /* Применяем текущий цвет родительского элемента (IconButton) */
}

img {
  fill: red !important;
}

.phone-adornment {
  color: $soft-color !important;
  font-weight: 400;
}

.MuiOutlinedInput-root {
  .MuiOutlinedInput-notchedOutline {
    border-color: $soft-color !important;
  }
  .Mui-disabled {
    -webkit-text-fill-color: $placeholder-color !important;
  }
}


.MuiInputBase-input {
  .Mui-disabled {
    color: $placeholder-color !important;
    background-color: #8b87d6;
  }
  .MuiOutlinedInput-input {
      .Mui-disabled {
        color: $placeholder-color !important;
      }
  }
}

.custom-form-control .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
      border-radius: 7px !important;
      border-color: $soft-color;
}
.custom-form-control:hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: $soft-color !important;
}
.custom-form-control:focus-within .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: $soft-color !important;
}
.custom-form-control:focus-within .MuiInputLabel-root {
  color: #8b87d6;
}
