@import '../../../styles/variables.scss';

.back-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column-reverse; /* Сообщения будут появляться снизу */
  align-items: center;
  padding-bottom: 20px; /* Отступ снизу */
  pointer-events: none; /* Чтобы элементы под alert были кликабельными */
}

.alert {
  margin-top: 10px; /* Отступ между сообщениями */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: alert-in 0.3s ease-in-out forwards;
  border-radius: 7px;
  pointer-events: auto; /* Чтобы alert был кликабельным */
}

.alert-exit {
  animation: alert-out 0.3s ease-in-out forwards;
}

.MuiAlert-colorSuccess {
  background-color: $main-color-alert !important;
  color: $main-color-alert-text !important;

  .MuiAlert-icon {
    color: $main-color-alert-text !important;
  }
}

.MuiAlert-colorError {
  color: $main-color-alert-text !important;
  background-color: $bad-color-alert !important;
  .MuiSvgIcon-root {
    color: $main-color-alert-text !important;
  }
}

@keyframes alert-in {
  from {
    transform: translateY(100%); /* Начальная позиция - снизу */
  }
  to {
    transform: translateY(0); /* Конечная позиция - на месте */
  }
}

@keyframes alert-out {
  from {
    transform: translateY(0); /* Начальная позиция - на месте */
  }
  to {
    transform: translateY(100%); /* Конечная позиция - снизу */
  }
}
