@import "../../../styles/variables.scss";

.back-alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

.alert {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 999;
  bottom: 62px;
  animation: alert 0.1s ease-in-out;
  border-radius: 7px;
}

.css-svzhua-MuiPaper-root-MuiAlert-root {
  background-color: $main-color-alert !important;
  color: $main-color-alert-text !important;
}

.MuiAlert-icon {
  color: $main-color-alert-text !important;
}

.MuiSvgIcon-root {
 .MuiSvgIcon-fontSizeInherit {
   .css-1vooibu-MuiSvgIcon-root {
     svg {
       fill: #8b87d6!important;
     }
   }
 }
}

@keyframes alert {
  from {
    position: absolute;
    bottom: 20px;
  }
  to {
    position: absolute;
    bottom: 50px;
  }
}
