@import "../../styles/variables";

.loginContainer {
  font-family: "Inter", sans-serif;
  display: flex;
  min-width: 325px;
  justify-content: center;
  align-items: center;
  background-color: $main_bg;
  width: 100%;
  height: 100%;
}

.inputContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 700px;
  min-width: 325px;
  height: 735px;
  gap: 32px;

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      display: flex;
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  h1 {
    text-align: center;
    color: $main-color;
    margin-bottom: 2rem;
  }

  Input {
    font-size: 17px;
    border-radius: 7px !important;
    color: $soft_color;
    max-width: 700px;
    max-height: 80px !important;
    align-content: end;
    margin: 0;
    border-color: #ABABAB !important;
  }

  .rememberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    p {
      color: $soft_color;
      line-height: 21.25px;
      font-size: 17px;
    }
  }

  .forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .forgot-btn {
      color: $soft_color;
      font-size: 17px;
      font-weight: 400;
      line-height: 21.25px;
      text-align: right;
    }
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
  }

  .loginButton {
    display: flex;
    height: 80px;
    background-color: $main-button;
    font-weight: 600;
    color: $main-color;
  }

  .registerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p {
      font-size: 17px;
      line-height: 17px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .registerButton {
    margin: 0.5rem;
    color: $soft-color;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
  }

  .backContainer {
    display: flex;
    justify-content: start;

    Button {
      color: $main-button !important;
      border-color: $main-button !important;
      font-weight: 100;
    }
  }

  .loginButton:hover {
    background-color: $hover-button;
  }

  .text {
    padding: 0 10rem;
    color: $soft-color;
    text-align: center;
    font-size: 1.2rem;
  }

}

@media (max-width: 900px) {
  .inputContainer {
    padding: 2rem 2rem;

    .registerBox {
      margin-top: 25px;
    }
  }
}


