@import '../../styles/variables.scss';


  .MuiMenu-paper  {
    background-color: $dark-color !important;
    color: $soft-color !important;
  }

.selector-form-control {

  .MuiOutlinedInput-root {
    color: $soft-color;
  }

  .MuiInputLabel-root {
    color: $placeholder-color !important;
    .Mui-focused {
      color: $placeholder-color !important;
    }
  }
}