// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: rgba(171, 171, 171, 1);
$dark-color: #2a3447;
$placeholder-color: rgba(191, 190, 190, 0.63);


//MENU BUTTONS
$menu-button-hover: #49526b;

//BUTTONS
$main-button: #8B87D6;
$hover-button: #958dff;