// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: rgba(171, 171, 171, 1);
$dark-color: #2a3447;
$placeholder-color: rgba(191, 190, 190, 0.63);

//MENU BUTTONS
$menu-button-hover: #49526b;

// MODALS
$main-modal: rgba(30, 37, 48, 1);

//BUTTONS
$main-button: #8b87d6;
$main-button-disabled: rgba(255, 255, 255, 0.2);
$main-button-text-disabled: rgba(171, 171, 171, 0.8);
$hover-button: #958dff;

// ALERTS
$main-color-alert: rgba(0, 196, 159, 0.8);
$main-color-alert-text: white;
