.users{

  .info{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 19px;

    h1 {
      font-weight: 600;
      font-size: 32px;
      line-height: 38.73px;
    }

    button{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 12px;
      font-size: 11px;
      width: 101px;
      height: 25px;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 7px;
      cursor: pointer;
    }
  }

  .dataTable .dataGrid img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
  }

  .dataTable{
    flex: 1;
    overflow: hidden;
    display: inline;
  }
}
.dataTable{
  overflow: hidden;
}

.dataTable .dataGrid {
  padding: 20px;
  overflow-x: auto;
  display: grid;
}

.headerBox {
  color: rgba(255, 255, 255, 1);
}

.nameCell {
  font-size: 14px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: rgba(217, 215, 255, 1);
}

.emailCell {
  font-size: 14px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: rgba(135, 206, 235, 1);
}

.phoneCell {
  font-size: 14px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: rgba(217, 215, 255, 1);
}
.createCell {
  font-size: 14px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: rgba(136, 132, 216, 1);
}
.verifiedCell {
  font-size: 14px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white;
}

.idClass {
  font-size: 14px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white;
}

